body{
    background-color: rgb(255, 255, 255);
}

div {
    background-color: rgb(195, 195, 196);
    width: 300px;
    display: block;
    margin: auto;
    height: 300px;
    border-radius: 10%;
    padding: 15px;
    box-shadow: 10px 10px 5px #000000;
}

ul {
    background-color: aqua;
}

p {
    text-align: center;
}